extends ./layout/index

block content
    main.container.mt-5.text-center
        h1=title
        .alert.alert-danger            
            p #{description}
            //p= JSON.stringify(tours)
        