.descuento
    .container
        .row
            .col-md-6 
                .contenido
                    h3 5% Discount!!!
                    p.titulo Canada tour
                    p.fecha From 20/06/2022 to 20/07/2022
                    p.precio 2.500€