extends ./layout/index

block content
    main.container.mt-5
        h1.text-center=title
        p.text-center #{description}
        //p= JSON.stringify(tours)
        include tours_block
        h3.text-center Latest Updated
        p.text-center Updated tours etc
        include tours_block