footer.container.py-5
    .row 
        .col-md-6 
            nav.nav.footer.justify-content-center.justify-content-start
                include links.pug
        .col 
            p.copyright.text-center.text-md-right
                | All rights reserved 
                span=jsYear